.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 0 var(--main), 0 0 0 var(--main), 0 1px 4px var(--main);
}

.header__logo-img,
.header__cart-img {
    cursor: pointer;
}

.header__total,
.header__cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

/* Logo */
.header__logo-img {
    height: 80px;
}

/* Total Price */

.header__total-title,
.header__total-price {
    font-size: 22px;
    line-height: 30px;
}

/* Cart */

.header__cart-title,
.header__cart-count {
    font-size: 22px;
    line-height: 30px;
}

.header__cart-img {
    height: 40px;
}