.main-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 25px;
    width: 100%;
}

.main__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px #c5c5c5;
    background: #fff;
}

.main__item:hover .main__item_btn-collection {
    display: flex;
}

.main__item-tumb {
    object-fit: contain;
    width: 200px;
    height: 200px;
}

.main__item-title {
    text-align: left;
    border-top: solid 1px #c5c5c5;
    width: 100%;
    padding: 5px 10px;
}

.main__item-name {
    color: #000;
    font-size: 20px;
    line-height: 26px;
}

.main__item-price {
    color: #870101;
    font-size: 18px;
    line-height: 24px;
}

.main__item_btn-collection {
    position: absolute;
    display: none;
    justify-content: stretch;
    align-items: stretch;
    gap: 6%;
    width: 90%;
    height: 40px;
    left: 50%;
    top: 60%;
    transform: translate(-50%);
}

.main__item-btn {
    background: #e32526;
    border: none;
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    padding: 5px;
}

.main__item-btn:hover {
    background-color: #cc2223;
}

.btn-view {
    flex-grow: 1;
}

.btn-to-cart {
    object-fit: contain;
    background-blend-mode: multiply;
    background-image: url(../../assets/svg/cart_b.svg);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 100%;
}
