
.cart__receipt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    width: 300px;
    border: solid 1px var(--darkmain);
    box-shadow: 0px 4px 6px var(--darkmain);
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
}

.receipt__title {
    font-size: 20px;
    line-height: 26px;
    color: var(--accent);
    text-align: center;
}

.receipt__item-count {
    color: var(--accent);
    text-align: center;
    border: solid 1px var(--accent);
    box-shadow: 0 0 4px var(--accent);
    width: 100%;
    padding: 10px 10px;
    margin: 10px auto;
}

.receipt__item-count::before {
    content: 'Item in cart: ';

}

/* Promo Code */
.receipt__promo-panel {
    padding: 10px;
    border: solid 1px var(--darkmain);
    box-shadow: 0 0 4px var(--darkmain);
    margin: 10px 0 15px;
}

.promo__title-panel,
.promo-panel__title {
    text-align: center;
    text-decoration: underline;
}

.promo__code {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.promo__value-code,
.promo__add-button {
    font-size: 16px;
    line-height: 22px;
    color: var(--main);
}

.promo__value-code {
    margin: 15px auto;
    width: calc(79% - 15px);
    padding: 2px 7px;
    margin-right: 15px;
    border: solid 1px var(--darkgray);
}

    .promo__value-code.find {
        border: solid 1px var(--accent);
    }

.promo__add-button {
    width: 21%;
    height: 28px;
    background: var(--button-disable);
    cursor: default;
}

    .promo__add-button.enable {
        background: var(--button-enable);
        cursor: pointer;
    }

        .promo__add-button.enable:hover {
            background: var(--accent);
            color: #fff;
        }

.promo__used-promo-panel {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    gap: 10px;
}

    .promo__used-promo-panel.hidden {
        display: none;
    }

.promo__name {
    font-weight: bold;
}

.promo__value,
.promo__value::after {
    color: var(--accent);
}

    .promo__value::after {
        content: '%';
    }

.promo__remove {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

/* Price */
.receipt__item-count::before,
.receipt__items-price::before,
.receipt__delivery::before,
.receipt__total-price::before,
.receipt__total-promo::before {
    font-weight: normal;
    color: var(--main);
}

.receipt__items-price::before {
    content: 'Items price: $';
}

.receipt__items-price,
.receipt__delivery {
    color: var(--azure);
}

    .receipt__delivery::before {
        content: 'Delivery price: $';
    }

.cart__receipt hr {
    height: 2px;
    margin: 5px 0 10px;
    background: var(--main);
}

.receipt__total-price,
.receipt__total-promo {
    font-weight: bold;
    color: var(--accent);
}

    .receipt__total-price::before {
        content: 'Total price: $'
    }

    .receipt__total-price.used-promo {
        text-decoration: line-through;
    }

    .receipt__total-promo.hidden {
        display: none;
    }

    .receipt__total-promo::before {
        content: 'To pay: $';
    }

.receipt__button-buy {
    font-size: 24px;
    line-height: 30px;
    padding: 5px 10px;
    margin-top: 25px;
}

/* Pagination */

.pagination {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    border: solid 1px var(--darkmain);
    box-shadow: 0 -2px 4px var(--darkmain);
    gap: 20px;
    padding: 20px;
}

/* Pages List */

.pagincation__page-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
}

.pagincation__page-list .btn {
    width: 30px;
    height: 30px;
}

.pagincation__page-list .btn.disable {
    background: var(--extra);
    cursor: default;
}

.pagination__num-current-page {
    height: 30px;
    width: 60px;
    text-align: center;
    border: solid 1px var(--darkmain);
}

/*Per Page*/
.pagination__perpage-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination__combobox,
.pagination__combobox-title {
    font-size: 16px;
    line-height: 20px;
}

.pagination__combobox {
    position: relative;
    width: 60px;
}

.pagination__combobox-text {
    position: relative;
    border: solid 1px var(--darkmain);
}

.pagination__combobox-text::after {
    position: absolute;
    top: 50%;
    right: 10px;
    content: '';
    border: solid var(--darkmain);
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotateZ(45deg) translate(-40%, -50%);
}

.pagination__combobox-text.open::after {
    transform: rotateZ(-135deg) translate(20%, 20%);
}

.pagination__combobox-text,
.combobox-option {
    padding: 5px 15px;
    background: #fff;
    cursor: pointer;
}

.pagination__combobox-options {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px;
    width: 100%;
    border: solid 1px var(--darkmain);
    background-color: var(--darkmain);
    z-index: 3;
}

.combobox-option.select {
    background: var(--accent);
    color: #fff;
}

.pagination__combobox-options.hidden {
    display: none;
}

/* Modal Window */

.receipt__modal-window {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.receipt__modal-window:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);    
}

.receipt__modal-window.hide {
    display: none;
}