.cart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 20px;
    height: 100%;
}

.cart {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    gap: 20px;
    flex-grow: 1;
}

.cart__item-collection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    height: 100%;
    flex-grow: 1;
}

.cart__item {
    display: flex;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    height: 200px;
    border: solid 1px var(--darkmain);
    box-shadow: 0px 4px 6px var(--darkmain);
    padding: 10px;
    gap: 25px;
}

.cart__item-index {
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    margin-left: 15px;
    text-align: center;
}

.cart__item-img {
    height: 180px;
    width: 180px;
    border: solid 1px var(--darkmain);
    box-shadow: 0 0 2px var(--darkmain);
    object-fit: contain;
    padding: 10px;
}

.cart__item-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    height: 100%;
    gap: 5px;
}

.cart__item-name::before {
    content: 'Model: ';
}

.cart__item-name {
    font-size: 24px;
    line-height: 30px;
    color: var(--accent);
}

.cart__item-brand::before {
    content: 'Brand: ';
}

.cart__item-brand {
    font-size: 20px;
    line-height: 26px;
    color: var(--azure);
}

.cart__item-category::before {
    content: 'Category: ';
}

.cart__item-category {
    font-size: 20px;
    line-height: 26px;
    color: var(--azure);
}

.btn {
    background-color: var(--lightaccent);
    border: none;
}

.btn:hover {
    background-color: var(--accent);
    color: #fff;
    fill: #fff;
}

.cart__item-panel-amount {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.cart__item-amount-up,
.cart__item-amount-down {
    width: 25px;
    height: 25px;
}

.cart__item-amount {
    border: solid 1px var(--main);
    text-align: center;
    width: 40px;
    height: 25px;
}

.cart__item-limit {
    font-size: 18px;
    line-height: 24px;
    color: var(--darkgray);
}

.cart__item-limit::before {
    content: 'Limit: ';
}

.cart__item-panel-amount,
.cart__item-price {
    font-size: 18px;
    line-height: 24px;
}

.cart__item-price::before {
    content: 'Price: $';
}

.cart__item-price {
    color: var(--accent);
    text-decoration: underline;
}

.cart__item-remove {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    padding: 7px;
}

.cart__item-remove svg {
    width: 100%;
    height: 100%;
}
/*
.cart__item-remove svg g {
    fill: var(--main);
}

.cart__item-remove:hover svg g {
    fill: #fff;
}*/