@import url('./reset.css');
@import url('./pages/components/footer/footer.css');
@import url('./pages/components/header/header.css');

body {
    background-color: #f3f3f3;
    background-image: url(./assets/png/background-img.png);
    background-repeat: repeat;
    background-blend-mode: multiply;
    width: 100vw;
}

.header,
.main {
    border-bottom: solid 2px #c5c5c5;
}

.header,
.main,
.footer {
    width: 100%;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 30px;
}
